.body {
    width: 1280px;
    margin: 0 auto;
}

.first {
    width: 1280px;
    height: 1000px;
    margin: 0 auto;
    background-image: url("img/header_fon.png"); 
}

.link-logo {
    text-decoration: none;
    float: left;
}

.link-logo-img {
    padding: 47px 10px 30px 26px; 
    float: left;
}

.link-logo-txt {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    float: left;
    padding: 60px 30px 30px 2px;
}

.link-logo-txt:hover {
    fill: orange;
}

.link-logo-txt:hover {
    color: orange;
}

.link-logo-txt:active {
    fill: gold; 
}

.link-logo-txt:active {
    color: gold; 
}

ul {
  list-style-type: none;
  float: left;
  padding: 45px 20px;
}

li {
  color: white;
  padding: 50px 5px 30px 15px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: inline;
}

li:hover {
  color: #c7b299;
}

li:nth-child(9) {
    
}

.main-text {
    width: 1280px;
    margin: 0 auto;
    height: 600px;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-text h2 {
color: #ffffff;
font-family: 'Raleway', sans-serif;
font-size: 36px;
font-weight: 500;
margin: 0;
}

.main-text h1 {
    color: #ffffff;
font-family: 'Raleway', sans-serif;
font-size: 46px;
font-weight: 500;
margin: 0; 
}

.main-text p {
color: #ffffff;
font-family: 'Montserrat', sans-serif;
font-size: 13px;
font-weight: 500;
margin: 0;     
}